body{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #f2f2f2, #e0e0e0);
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 8px solid black;
    margin: 1rem;
}
.red{
    background-color: rgb(220, 102, 102);
}
.yellow{
    background-color: rgb(243, 248, 100);
}
.green{
    background-color: rgb(125, 195, 125);
}
.purple{
    background-color: rgb(201, 123, 201);
}
.btn-container{
    display: flex;
    justify-content: center;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: rgba(243, 223, 239, 0.974);
}